@{
    ViewBag.Title = "About";
}

<main role="main-inner-wrapper" class="container">
    <div class="row">
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <article role="pge-title-content">
                <header>
                    <h2><span>I DO</span> What I love doing</h2>
                </header>
                <p>I am very passionate about programming and spend a lot of my free time programming and carrying out research.  My predominant language is C# but I started programming using Java (I still use it from time to time).I am an extremely hard working, enthusiastic person and will put my all into whatever task I am given.</p>
            </article>
        </section>
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <article class="about-content">
                <p><span class="bold">Operating Systems:</span>                  Windows</p>
                <p><span class="bold">Strong Languages:</span> 	                C#, Java, MS SQL, MySql, Oracle, HTML & Javascript/JQuery, Delphi, CSS</p>
                <p><span class="bold">Frameworks:</span>                         MVC, WebAPI, ASP.NET, AngularJS, JQuery, Winforms, Ninject, ADO.NET/Entity Framework, Moq & NUnit</p>
                <p><span class="bold">Languages less experienced in:</span> 		C++, PHP,  R, Python, Solidarity</p>
                <p><span class="bold">Source Control:</span>                   	SVN (Tortoise SVN) & Git (via bash & Sourcetree/Git Extensions)</p>
                <p><span class="bold">Agile Management Software:</span> 	    	JIRA & Confluence</p>
                <p></p>
            </article>
        </section>
        <div class="clearfix"></div>
        <div class="thumbnails-pan">
            <section class="col-lg-12">
                <figure>
                    <img src="../images/about-images/me.jpg" class="img-responsive" />
                    <figcaption>
                        <h3>Matt Sharp</h3>
                        <h5>Developer</h5>
                    </figcaption>
                </figure>
            </section>
        </div>
    </div>
</main>