
@{
    ViewBag.Title = "Index";
}

<main role="main-inner-wrapper" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <article role="pge-title-content" class="blog-header">
                <header>
                    <h2><span>Blog</span> Posts</h2>
                </header>
                <p>A collection of articles about things that interest me.</p>
            </article>
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <section class="blog-content">
                        <a href="../Blog/BlogPost?blogPost=CNN">
                            <figure>
                                <div class="post-date">
                                    <span>19</span> November 2018
                                </div>
                                <img src="../images/blog-main-images/cnn.png" alt="" class="img-responsive" />
                            </figure>
                        </a>
                        <article>
                            Learn how to use Convolutional Neural networks in C#
                        </article>
                    </section>
                </li>
                <li>
                    <section class="blog-content">
                        <a href="blog-details.html">
                            <figure>
                                <div class="post-date">
                                    <span>24</span> July 2016
                                </div>
                                <img src="../images/blog-main-images/model.jpg" alt="" class="img-responsive" />
                            </figure>
                        </a>
                        <article>
                            Guide to general modelling
                        </article>
                    </section>
                </li>
   <!--
                <li>
                    <section class="blog-content">
                        <a href="blog-details.html">
                            <figure>
                                <div class="post-date">
                                    <span>24</span> July 2016
                                </div>
                                <img src="images/blog-images/blog-2.jpg" alt="" class="img-responsive" />
                            </figure>
                        </a>
                        <article>
                            This is a sample news post title content or sample post heading.
                        </article>
                    </section>
                </li>
                <li>
                    <section class="blog-content">
                        <a href="blog-details.html">
                            <figure>
                                <div class="post-date">
                                    <span>24</span> July 2016
                                </div>
                                <img src="images/blog-images/blog-4.jpg" alt="" class="img-responsive" />
                            </figure>
                        </a>
                        <article>
                            This is a sample news post title content or sample post heading.
                        </article>
                    </section>
                </li>
                <li>
                    <section class="blog-content">
                        <a href="blog-details.html">
                            <figure>
                                <div class="post-date">
                                    <span>24</span> July 2016
                                </div>
                                <img src="images/blog-images/blog-2.jpg" alt="" class="img-responsive" />
                            </figure>
                        </a>
                        <article>
                            This is a sample news post title content or sample post heading.
                        </article>
                    </section>
                </li>-->
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="grid-lod effect-2" id="grid">
                 <li>
                    <section class="blog-content">
                        <a href="../Blog/BlogPost?blogpost=NeuralNetwork">
                            <figure>
                                <div class="post-date">
                                    <span>19</span> November 2018
                                </div>
                                <img src="../images/blog-main-images/network.jpg" alt="" class="img-responsive" />
                            </figure>
                        </a>
                        <article>
                            Learn how to use Neural networks in C#
                        </article>
                    </section>
                </li>
                <li>
                    <section class="blog-content">
                        <a href="javascript:alert('Under Construction..');">
                            <figure>
                                <div class="post-date">
                                    <span>24</span> July 2016
                                </div>
                                <img src="../images/blog-main-images/conv.jpg" alt="" class="img-responsive" />
                            </figure>
                        </a>
                        <article>
                            A guide to convolution for images in C#
                        </article>
                    </section>
                </li>
 <!--
                <li>
                    <section class="blog-content">
                        <a href="blog-details.html">
                            <figure>
                                <div class="post-date">
                                    <span>24</span> July 2016
                                </div>
                                <img src="images/blog-images/blog-5.jpg" alt="" class="img-responsive" />
                            </figure>
                        </a>
                        <article>
                            This is a sample news post title content or sample post heading.
                        </article>
                    </section>
                </li>
                <li>
                    <section class="blog-content">
                        <a href="blog-details.html">
                            <figure>
                                <div class="post-date">
                                    <span>24</span> July 2016
                                </div>
                                <img src="images/blog-images/blog-1.jpg" alt="" class="img-responsive" />
                            </figure>
                        </a>
                        <article>
                            This is a sample news post title content or sample post heading.
                        </article>
                    </section>
                </li>
                <li>
                    <section class="blog-content">
                        <a href="blog-details.html">
                            <figure>
                                <div class="post-date">
                                    <span>24</span> July 2016
                                </div>
                                <img src="images/blog-images/blog-3.jpg" alt="" class="img-responsive" />
                            </figure>
                        </a>
                        <article>
                            This is a sample news post title content or sample post heading.
                        </article>
                    </section>
                </li>
                <li>
                    <section class="blog-content">
                        <a href="blog-details.html">
                            <figure>
                                <div class="post-date">
                                    <span>24</span> July 2016
                                </div>
                                <img src="images/blog-images/blog-5.jpg" alt="" class="img-responsive" />
                            </figure>
                        </a>
                        <article>
                            This is a sample news post title content or sample post heading.
                        </article>
                    </section>
                </li>-->
            </ul>
        </div>
    </div>
</main>