@model PortfolioSite.Models.BlogItemModel

@{
    ViewBag.Title = "NeuralNetwork";
}

@Html.Hidden("BlogPostName", Model.BlogPost.ToString())
<main role="main-inner-wrapper" class="container">
    <div class="blog-details">
        <article class="post-details" id="post-details">
            <header role="bog-header" class="bog-header text-center">
                <h3><span>19</span> November 2018</h3>
                <h2>
                    A guide in how to work with Neural networks in C# and a working example.
                </h2>
            </header>
            <figure>
                <img src="images/blog-images/blog-details-image.jpg" alt="" class="img-responsive" />
            </figure>
            <div class="enter-content">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentesque urna rhoncus.</p>
                <p>Praesent posuere sapien est, vitae bibendum risus iaculis ut. Phasellus porta libero eget turpis varius dapibus. Phasellus elementum tempor quam in consectetur. Donec a nisl vehicula metus accumsan lacinia. Cras vehicula massa dui. Quisque ac vehicula turpis. Duis sodales magna risus. Donec tellus risus, vulputate id finibus et, consectetur sit amet Praesent posuere sapien est, vitae bibendum risus iaculis ut. Phasellus porta lnisl.</p>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec rhoncus iaculis eros nec dapibus. Vestibulum lacinia libero et metus rhoncus, vel convallis mi facilisis. Donec in augue nec est molestie gravida varius id sapien. Aliquam at augue ante. Quisque ut diam in nibh malesuada tempor. Proin elementum nisl ac erat finibus, ut viverra mauris lobortis. Pellentesque et ipsum nisl. Integer tincidunt, urna fermentum sodales mattis, ipsum libero mattis lacus, vitae semper risus magna ac mi. Donec auctor ante ornare, fringilla orci vitae, porttitor urna. Donec pretium eu mauris ac bibendum. Cras aliquam faucibus ligula, et porta arcu tincidunt id. Pellentesque viverra tortor vitae pellentesque placerat. </p>
            </div>
            <pre><code></code></pre>
        </article>
       @Html.Partial("_Comments", Model.CommentModel)
    </div>
</main>
