
@{
    ViewBag.Title = "WorkItem";
}
<main role="main-inner-wrapper" class="container">
    <div class="work-details">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <header role="work-title">
                    <h2>Chrome Extension</h2>
                    <a href="#">Project URL: Private <i class="fa fa-lock" aria-hidden="true"></i></a>
                </header>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <section>
                    <p>This is a Chrome Extension where a user can chat page to page.</p>
                    <p>There is a Web API running in the background to serve hte data to the JS chrome extension.</p>
                    <p>
                        <strong>Details</strong><br />
                        Chrome Extension JS
                        C# Web API 2.0
                        .NET Framework 4.5.2
                    </p>
                </section>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="work-images grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <a href="~/images/work-images/extension.png" class="pointer">
                        <img src="~/images/work-images/extension.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/extension/js-frame.png" class="pointer">
                        <img src="~/images/extension/js-frame.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/extension/ex1.png" class="pointer">
                        <img src="~/images/extension/ex1.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/extension/ex2.png" class="pointer">
                        <img src="~/images/extension/ex2.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/extension/ex3.png" class="pointer">
                        <img src="~/images/extension/ex3.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/extension/ex4.png" class="pointer">
                        <img src="~/images/extension/ex4.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/extension/js-frame2.png" class="pointer">
                        <img src="~/images/extension/js-frame2.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/extension/vs-frame.png" class="pointer">
                        <img src="~/images/extension/vs-frame.png" alt="" class="img-responsive" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
@Styles.Render("~/Content/css/style.css")