
@{
    ViewBag.Title = "WorkItem";
}
<main role="main-inner-wrapper" class="container">
    <div class="work-details">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <header role="work-title">
                    <h2>Convolutional Neural Network Builder</h2>
                    <a href="#">Project URL: Private <i class="fa fa-lock" aria-hidden="true"></i></a>
                    <a href="../Blog/BlogPost?blogPost=CNN">Blog - Working Example with MNist <i class="fa fa-link" aria-hidden="true"></i></a>
                </header>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <section>
                    <p>This is a WinForm Desktop application to train Convolutional neural networks to recognize images.</p>
                    <p>You are able to produce different types of models using different sampling techniques and pre-processing. There is a real time output to give the user information about the progress.</p>
                    <p>
                        <strong>Details</strong><br />
                        Winform C#
                        .NET Framework 4.5.2
                    </p>
                </section>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="work-images grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <a href="~/images/cnn/cnn-preload.png" class="pointer">
                        <img src="~/images/cnn/cnn-preload.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/cnn/cnn-run.png" class="pointer">
                        <img src="~/images/cnn/cnn-run.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/cnn/cnn-run2.png" class="pointer">
                        <img src="~/images/cnn/cnn-run2.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/cnn/cnn1.png" class="pointer">
                        <img src="~/images/cnn/cnn1.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/cnn/cnn-stop.png" class="pointer">
                        <img src="~/images/cnn/cnn-stop.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/cnn/bts.png" class="pointer">
                        <img src="~/images/cnn/bts.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/cnn/bts2.png" class="pointer">
                        <img src="~/images/cnn/bts2.png" alt="" class="img-responsive" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
@Styles.Render("~/Content/css/style.css")
<!--https://codepen.io/JonasBadalic/pen/PwWXqg-->