
@{
    ViewBag.Title = "WorkItem";
}
<main role="main-inner-wrapper" class="container">
    <div class="work-details">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <header role="work-title">
                    <h2>Product Management Admin (For Drinks Company)</h2>
                    <a href="#">Project URL: Private <i class="fa fa-lock" aria-hidden="true"></i></a>
                </header>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <section>
                    <p>This is a simple product management app I made for a friend. It's a simple system to keep track of his drink selling operation.</p>
                    <p>
                        <strong>Details</strong><br />
                        Winform C#
                        .NET Framework 4.5.2
                        MS SQL Database
                    </p>
                </section>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="work-images grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <p class="left-align">Everything but the login boxes are disabled upon init.</p>
                    <a href="~/images/drinks-app/img1.png" class="pointer">
                        <img src="~/images/drinks-app/img1.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">This is the application in Visual Studios drag and drop editor.</p>
                    <a href="~/images/drinks-app/drinks.png" class="pointer">
                        <img src="~/images/drinks-app/drinks.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">This is the tab where the products are found/entered.</p>
                    <a href="~/images/drinks-app/img2.png" class="pointer">
                        <img src="~/images/drinks-app/img2.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">This is the tab where the sales are found/entered.</p>
                    <a href="~/images/drinks-app/img3.png" class="pointer">
                        <img src="~/images/drinks-app/img3.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">This is the tab where the suppliers are found/entered.</p>
                    <a href="~/images/drinks-app/img4.png" class="pointer">
                        <img src="~/images/drinks-app/img4.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">This is the tab where the deliveries are found/entered.</p>
                    <a href="~/images/drinks-app/img5.png" class="pointer">
                        <img src="~/images/drinks-app/img5.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">This is the tab where the users are found/entered.</p>
                    <a href="~/images/drinks-app/img6.png" class="pointer">
                        <img src="~/images/drinks-app/img6.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">This is the tab where the permissions for the users are found/entered.</p>
                    <a href="~/images/drinks-app/img7.png" class="pointer">
                        <img src="~/images/drinks-app/img7.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">This is the Entity Framework EDMX showing the table structure of the database and the model.</p>
                    <a href="~/images/drinks-app/ef.png" class="pointer">
                        <img src="~/images/drinks-app/ef.png" alt="" class="img-responsive" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
@Styles.Render("~/Content/style.css")