@{
    ViewBag.Title = "WorkItem";
}
<main role="main-inner-wrapper" class="container">
    <div class="work-details">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <header role="work-title">
                    <h2>MO ICO</h2>
                    <a href="https://etherscan.io/address/0xd1b5cb3a6ea812c8c444e8d7d5692905df097c0e">Project URL<i class="fa fa-external-link" aria-hidden="true"></i></a>
                </header>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <section>
                    <p>The contract for an ICO</p>
                    <p>
                        <strong>Details</strong><br />
                        Solidarity
                    </p>
                </section>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="work-images grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <a href="~/images/work-images/ico.png" class="pointer">
                        <img src="~/images/work-images/ico.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/ico/contract.png" class="pointer">
                        <img src="~/images/ico/contract.png" alt="" class="img-responsive" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
@Styles.Render("~/Content/css/style.css")