@{
    ViewBag.Title = "WorkItem";
}
<main role="main-inner-wrapper" class="container">
    <div class="work-details">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <header role="work-title">
                    <h2>MO ICO</h2>
                    <a href="https://github.com/msharp19/Contracts/blob/master/MoralityAI.sol">Project URL<i class="fa fa-external-link" aria-hidden="true"></i></a>
                    <a href="https://etherscan.io/address/0xd1b5cb3a6ea812c8c444e8d7d5692905df097c0e">Contract on Etherscan<i class="fa fa-external-link" aria-hidden="true"></i></a>
                </header>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <section>
                    <p>The contracts for an ICO - Presale & Token. I have created 2 versions of an ERC20 contract, one to be the actual token and one that is more experimental (has phases of sales). These are still unfinished but working at the current state (one deployed).</p>
                    <p>I also have a boiler plate copy of a standard crowdsale token that can be run alongside the deployed version of my ERC20. The experimental version (a mix between the 2 is in testing).</p>
                    <p>
                        <strong>Details</strong><br />
                        Solidarity
                    </p>
                </section>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="work-images grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <p class="left-align">This is the deployed version of Morality - using this as the final contract is subject to change.</p>
                    <a href="~/images/work-images/ico.png" class="pointer">
                        <img src="~/images/work-images/ico.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/ico/contract.png" class="pointer">
                        <img src="~/images/ico/contract.png" alt="" class="img-responsive" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
@Styles.Render("~/Content/style.css")