
@{
    ViewBag.Title = "WorkItem";
}
<main role="main-inner-wrapper" class="container">
    <div class="work-details">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <header role="work-title">
                    <h2>Image Pre-Proessing</h2>
                    <a href="#">Project URL: Private <i class="fa fa-lock" aria-hidden="true"></i></a>
                </header>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <section>
                    <p>This is a WinForm Desktop application to build image pre-processing chains</p>
                    <p>
                        <strong>Details</strong><br />
                        Winform C#
                        .NET Framework 4.5.2
                    </p>
                </section>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="work-images grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <a href="~/images/img/img1.png" class="pointer">
                        <img src="~/images/img/img1.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/img/img1-2.png" class="pointer">
                        <img src="~/images/img/img1-2.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/img/img2.png" class="pointer">
                        <img src="~/images/img/img2.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/img/img3.png" class="pointer">
                        <img src="~/images/img/img3.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/img/img4.png" class="pointer">
                        <img src="~/images/img/img4.png" alt="" class="img-responsive" />
                    </a>
                </li>
              </ul>
        </div>
    </div>
</main>
@Styles.Render("~/Content/css/style.css")