
@{
    ViewBag.Title = "WorkItem";
}
<main role="main-inner-wrapper" class="container">
    <div class="work-details">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <header role="work-title">
                    <h2></h2>
                    <a href="#">Project URL: Private <i class="fa fa-lock" aria-hidden="true"></i></a>
                </header>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <section>
                    <p>This is a WinForm Desktop application where images can be copied from cache in bulk, quickly and efficiently. This is done by selecting a webpage, gathering all the images from cache, and parsing the load more (or whatever it is called) button. The selection of the load more button is chosen on the configuration tab. Sometimes search engines have load on scroll to the end, I take that into account and fire the scrolling at random intervals in conjunction with the search for button. The images are then taken from the cache, identified by the file headers. This can build quite large datasets, quite quickly.</p>
                    <p>
                        <strong>Details</strong><br />
                        Winform C#
                        .NET Framework 4.5.2
                    </p>
                </section>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="work-images grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <p class="left-align">This is the configuration screen to set the load more identifier. I have set 3 ways to find the button based on a number of search engine load more buttons.</p>
                    <a href="~/images/work-images/auto-brows.png" class="pointer">
                        <img src="~/images/work-images/auto-brows.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">This is the browser where you can inspect the page to find the button identifier.</p>
                    <a href="~/images/copy/cb1.png" class="pointer">
                        <img src="~/images/copy/cb1.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">This is sample code that shows how the inspect is outputted on the form.</p>
                    <a href="~/images/copy/cb2.png" class="pointer">
                        <img src="~/images/copy/cb2.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li class="full-length">
                    <p class="text-center">This is shown when the system is copying.</p>
                    <a href="~/images/copy/cb3.png" class="pointer ">
                        <img src="~/images/copy/cb3.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">Below was the previous version of the cache copy. You setup the folders then get the application to listen, open up the respective browser you have configured the application to listen to (in the example FireFox) and scroll around.</p>
                    <a href="~/images/copy/cb4.png" class="pointer">
                        <img src="~/images/copy/cb4.png" alt="" class="img-responsive" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
@Styles.Render("~/Content/style.css")