
@{
    ViewBag.Title = "WorkItem";
}
<main role="main-inner-wrapper" class="container">
    <div class="work-details">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <header role="work-title">
                    <h2>MO Pre-sale Site</h2>
                    <a href="#">Project URL<i class="fa fa-external-link" aria-hidden="true"></i></a>
                    <a href="https://github.com/msharp19/Presale">Git URL<i class="fa fa-external-link" aria-hidden="true"></i></a>
                </header>
            </div> 
            <div class="col-xs-12 col-sm-12 col-md-8">
                <section>
                    <p>This is a test pre-sale site for a coin launch</p>
                    <p>
                        <strong>Details</strong><br />
                        C# MVC Razor
                        .NET Framework 4.5.2
                    </p>
                </section>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="work-images grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <a href="~/images/pre-sale/pre-sale.png" class="pointer">
                        <img src="~/images/pre-sale/pre-sale.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/pre-sale/pre-sale2.png" class="pointer">
                        <img src="~/images/pre-sale/pre-sale2.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/pre-sale/pre-sale3.png" class="pointer">
                        <img src="~/images/pre-sale/pre-sale3.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/pre-sale/pre-sale4.png" class="pointer">
                        <img src="~/images/pre-sale/pre-sale4.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/pre-sale/pre-sale5.png" class="pointer">
                        <img src="~/images/pre-sale/pre-sale5.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/pre-sale/pre-sale6.png" class="pointer">
                        <img src="~/images/pre-sale/pre-sale6.png" alt="" class="img-responsive" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
@Styles.Render("~/Content/css/style.css")