
@{
    ViewBag.Title = "WorkItem";
}
<main role="main-inner-wrapper" class="container">
    <div class="work-details">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <header role="work-title">
                    <h2>MO Pre-sale Site</h2>
                    <a href="#">Project URL<i class="fa fa-external-link" aria-hidden="true"></i></a>
                    <a href="https://github.com/msharp19/MoralityCoin/tree/master/PresaleSite/MoPresale">Git URL<i class="fa fa-external-link" aria-hidden="true"></i></a>
                </header>
            </div> 
            <div class="col-xs-12 col-sm-12 col-md-8">
                <section>
                    <p>This is a test pre-sale site for a coin launch. After completion we have had a bit of a re-design and a new one is in the making.</p>
                    <p>
                        <strong>Details</strong><br />
                        C# MVC Razor
                        .NET Framework 4.5.2
                    </p>
                </section>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="work-images grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <p class="left-align">The main page which informs users of our target and current progress. I have added toastr alerts to actions.</p>
                    <a href="~/images/pre-sale/pre-sale.png" class="pointer">
                        <img src="~/images/pre-sale/pre-sale.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">The second part of the page has brief snippits about our goals (quite generic in this example) and a form to fill in once a payment has been made to either the BTC or ETH address.</p>
                    <a href="~/images/pre-sale/pre-sale2.png" class="pointer">
                        <img src="~/images/pre-sale/pre-sale2.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li class="full-length">
                    <p class="text-center">The page is responsive.</p>
                    <a href="~/images/pre-sale/pre-sale3.png" class="pointer">
                        <img src="~/images/pre-sale/pre-sale3.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li class="full-length">
                    <p class="text-center">Ability to subscribe for updates.</p>
                    <a href="~/images/pre-sale/pre-sale4.png" class="pointer">
                        <img src="~/images/pre-sale/pre-sale4.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li class="full-length">
                    <a href="~/images/pre-sale/pre-sale5.png" class="pointer">
                        <img src="~/images/pre-sale/pre-sale5.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="~/images/pre-sale/pre-sale6.png" class="pointer">
                        <img src="~/images/pre-sale/pre-sale6.png" alt="" class="img-responsive" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
@Styles.Render("~/Content/style.css")