
@{
    ViewBag.Title = "WorkItem";
}
<main role="main-inner-wrapper" class="container">
    <div class="work-details">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <header role="work-title">
                    <h2>Request Viewer</h2>
                    <a href="https://requestviewer.azurewebsites.net/">Project URL<i class="fa fa-external-link" aria-hidden="true"></i></a>
                    <a href="https://github.com/msharp19/RequestViewer">Git URL<i class="fa fa-external-link" aria-hidden="true"></i></a>
                </header>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <section>
                    <p>This is a simple website that allows someone to see their request details (the C# Request object to string) - also serves JSON. This was made for a bit of fun.</p>
                    <p>
                        <strong>Details</strong><br />
                        MVC C#
                        .NET Framework 4.5.2
                    </p>
                </section>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="work-images grid">
            <ul class="grid-lod effect-2" id="grid">
                <li>
                    <p class="left-align">The page displays the users request details and gives the option to download the info as a file.</p>
                    <a href="~/images/work-images/req-viewer.png" class="pointer">
                        <img src="~/images/work-images/req-viewer.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">It is mobile friendly.</p>
                    <a href="~/images/request-view/bottom-page.png" class="pointer">
                        <img src="~/images/request-view/bottom-page.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">You can make a web call to download the data shown in JSON.</p>
                    <a href="~/images/request-view/json.png" class="pointer">
                        <img src="~/images/request-view/json.png" alt="" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <p class="left-align">This is a sample snippit of the controller methods that make up this simple website.</p>
                    <a href="~/images/request-view/vs-ctrl.png" class="pointer">
                        <img src="~/images/request-view/vs-ctrl.png" alt="" class="img-responsive" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
@Styles.Render("~/Content/style.css")