body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.blurred-back {
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
    filter: blur(10px);
}

.overlay-div {
    width: 50%;
    height: 16%;
    position: relative;
    background: darkgrey;
}

.override-black {
    color: black !important;
}

.figure-item {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    vertical-align: middle !important;
}

.text-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; /* column | row */
}

.logo-size{
    width: 150px;
    margin: auto;
}

.kernal-tb {
    max-width: 40px;
    min-height: 35px;
    text-align: center;
    padding: 3px;
    border: 1px solid lightgray;
}

.kernal-table td {
    padding: 1px;
}


.kernal-tb :hover {
    background: red;
}


.kernal-table {
    margin: auto;
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

    .option-input:hover {
        background: #9faab7;
    }

    .option-input:checked {
        background: #40e0d0;
    }

        .option-input:checked::before {
            height: 40px;
            width: 40px;
            position: absolute;
            content: '✔';
            display: inline-block;
            font-size: 26.66667px;
            text-align: center;
            line-height: 40px;
        }

        .option-input:checked::after {
            -webkit-animation: click-wave 0.65s;
            -moz-animation: click-wave 0.65s;
            animation: click-wave 0.65s;
            background: #40e0d0;
            content: '';
            display: block;
            position: relative;
            z-index: 100;
        }

    .option-input.radio {
        border-radius: 50%;
    }

        .option-input.radio::after {
            border-radius: 50%;
        }
#Kernels {
    min-width: 50px;
    min-height: 30px;
    text-align: center;
    padding-left: 10px;
    padding-top: 1px;
    float: right;
    padding-right: 3px;
}

.thumbs div {
    display: inline-block;
    max-width: 25%;
}

.thumbs div img {
    max-width: 100%;
}

.display-image {
    border-right: 4px solid white;
}

.conv-radio{
    margin: auto;
}

.middle{

}

.thumbs {
    display: inline-table;
}

.text-center-no-flex {
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#run-convolution-btn {
    margin: auto;
    display: inherit;
    margin-top: 40px;
}

#outputCanvas {
    display: block;
    margin: auto;
    width: 100%;
}

.run-convolution {
    display: block;
    margin: auto;
}